<mat-card>
  <span>
    <a mat-button routerLink="/adjectives">Adjectives</a>
  </span>

  <span>
    <a mat-button routerLink="/adverbs">Adverbs</a>
  </span>

  <span>
    <a mat-button routerLink="/colours">Colours</a>
  </span>

  <span>
    <a mat-button routerLink="/expressions">Expressions</a>
  </span>

  <span>
    <a mat-button routerLink="/nouns">Nouns</a>
  </span>

  <span>
    <a mat-button routerLink="/numbers">Numbers  [NEEDS JAPANESE]</a>
  </span>

  <span>
    <a mat-button routerLink="/times">Times</a>
  </span>

  <span>
    <a mat-button routerLink="/verbs">Verbs</a>
  </span>
</mat-card>
