<mat-card>
  <mat-grid-list cols="3">
    <mat-grid-tile class="contextCards" *ngFor="let context of contextList">
      <div class = "container">
        <!--HEADER-->
        <section class = "header">
          <section class = "header-start">
            {{context}}
          </section>
        </section>
        <!--BODY-->
        <section class = "body">
          <h1 class = "word" *ngFor="let expression of contexts[context]"(click)="openDialog(expression.japanese, expression.english)">
            {{expression.japanese}}
          </h1>
        </section>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

